<?xml version="1.0"?>

<model>
  <name>coffee_machine</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Kreutergarten and The Construct</name>
    <email>https://sketchfab.com/Kreutergarten and info@theconstructsim.com</email>
  </author>

  <description>
    Showcase for coffee machine
  </description>
</model>
